<div style="font-size: 110%; height:100%; display:flex; flex-direction: column;">
  <div  modal-draggable class="modalHeader">Add page images to document {{document.attrs.name}}
    <button type="button" (click)="closeModalAP()" class="close" data-dismiss="modal" style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;</button>
  </div>
  <div *ngIf="success.length>0" class="alert alert-success" style="margin-bottom: 3px; margin-top: 3px" [innerHTML]="success">
  </div>
  <div *ngIf="message.length>0"  style="margin: 15px; height: 120px; overflow-y: auto;" [innerHTML]="message">
  </div>
<!-- hr style="border: 1px solid #8c8b8b; margin-top: 5px"-->
<div style="margin-left: 10px; margin-right: 25px; margin-top: 15px; margin-bottom: 20px; font-size: 100%; text-align: center; ">
  <p style="font-size: 100%;  margin-top: 8px; margin-bottom: 8px;" id="dzAdviseMultiple">Image file names will be matched to "facs" attributes or to page names, if there are no "facs" attributes.</p>
  <div class="form-group" id="MMAPPMFDD" style="display:none">
    <label style="font-weight: normal;">Drop files in the dropzone below&nbsp;</label>
    <textarea style="margin-bottom: 0px" rows="5" cols="45"></textarea>
  </div>
</div>
<div class="form-group" style="flex:2; display: flex; width: 100%; margin-top: 10px; margin-right: 10px; margin-left: 10px; margin-bottom: 0px; text-align: center; ">
  <form class="dropzone" style="height:100%; width: 100%; margin-bottom:0px; margin-right:20px" id="mydz"><div class="dz-message" data-dz-message><span id="dzMessage">Click here to upload image files, or drop the image files here</span></div></form>
</div>
<hr style="border: 1px solid #8c8b8b; margin-bottom: 5px; margin-top:0px">
  <div class="form-group" style="text-align: center; height: 18px;">
    <button type="button" class="btn btn-primary" (click)="addZipImages(document)" data-toggle="tooltip" title="Add images from zip file">Load from Zip File</button>
    <button *ngIf="isAdd" type="button" class="btn btn-primary" (click)="submit()">Add Images</button>
    <button *ngIf="isCancel" type="button" class="btn btn-primary" (click)="closeModalAP()">Close</button>
  </div>
</div>
<div modal-resizable class="win-size-grip"></div>
