  <div *ngIf="message" class="alert alert-danger">
    {{message}}
  </div>
  <div style="text-align: center">
    <label>Name</label> <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;"></span>
    <input type="text" style="display: inline-block" placeholder="(20 characters maximum)"
    [(ngModel)]="edit.name">
    <seg *ngIf="!community">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Abbreviation</label>
      <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;">
      </span>
      <input type="text" placeholder="(4 characters maximum)" 
      [(ngModel)]="edit.abbr">
    </seg>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div class="form-group" *ngIf="community">
    <label>Abbreviation</label> <span> {{edit.abbr}}  (cannot alter)</span>
  </div>
  <div class="form-group">
    <label>Long Name</label>
    <input type="text" class="form-control" placeholder="Long Name (80 characters maximum)"
    [(ngModel)]="edit.longName">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="Description (you can include HTML)"
      [(ngModel)]="edit.description"></textarea>
  </div>
  <div class="form-group">
    <label>Accessible to others</label> <br/>
    <input type="checkbox" [(ngModel)]="edit.public">&nbsp;&nbsp;Everyone can see it&nbsp;&nbsp;&nbsp;&nbsp;
    <span *ngIf="edit.public">
      <input type="checkbox" [(ngModel)]="edit.accept" ng-disabled="edit.public==false">Anyone can ask to join
    </span>
    <span *ngIf="edit.accept&&edit.public">
      <input type="checkbox" [(ngModel)]="edit.autoaccept" ng-disabled="edit.accept==false">Anyone asking joins
    </span>
    <span *ngIf="edit.autoaccept&&edit.public&&edit.accept">
      <input type="checkbox" [(ngModel)]="edit.alldolead" ng-disabled="edit.autoaccept==false">Everyone joining leads
    </span>
  </div>
  <!-->
  <div class="form-group"  ng-controller="UpLoadCtrl">
    <form ng-show="!community.image" name="communityForm" >
      <label>Choose community image (max. 300x50)</label> <br/>
      <div  style="width: 200px; margin-left:auto; margin-right:auto">
        <input type="file" ngf-select ng-model="picFile" name="file"
        accept="image/*" ngf-max-size="100KB" ngf-max-height="34" ngf-max-width="300" required>
        <span ng-show="communityForm.file.$error.maxSize">File too large
          ({{picFile.size / 1000|number:1}} KB): max {{picFile.$errorParam}}</span>
        <span ng-show="communityForm.file.$error.maxHeight">Image too high
          ({{picFile.$ngfHeight}} pixels): max {{picFile.$errorParam}}</span>
        <span ng-show="communityForm.file.$error.maxWidth">Image too wide
          ({{picFile.$ngfWidth}} pixels): max {{picFile.$errorParam}}</span>
        <img ng-show="communityForm.file.$valid" ngf-thumbnail="!picFile.$error && picFile" style="width: 300px; height: 35px; margin-top: 5px; margin-left:10px">
        &nbsp;&nbsp;<button type="button" ng-click="picFile = null;" ng-show="picFile">Remove</button>&nbsp;&nbsp;
        <button type="button" ng-click="upload(picFile)" ng-show="picFile">Confirm</button>
      </div>
    </form>
    <div ng-show="community.haspicture">
      <label>Change community image (max. 300x35)</label>
      <div  style="width: 500px; margin-left:auto; margin-right:auto">
        <img src="{{community.image}}"/>&nbsp;&nbsp;<button type="button" ng-click="picFile = null;community.image='';community.haspicture=false; nullImage()">Remove</button>
      </div>
    </div>
  </div>
  </-->
  <hr style="border: 1px solid #8c8b8b;">
  <div  style="text-align: center">
    <button type="button" class="btn btn-primary btn-md" (click)="submit()"
      >{{community ? 'Update': 'Create'}}</button>
  </div>
