<div *ngIf="state.community">
  <div id="ENPhead" modal-draggable class="modalHeader">New text in page "{{page.attrs.name}}" in document "{{document.attrs.name}}" for Community "{{state.community.attrs.name}}"
<button type="button" (click)="closeModalNP()" class="close"
    data-dismiss="modal"
    style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;
  </button>
  </div>
<form action="">
  <div *ngIf="message.length>0" class="alert alert-danger" style="margin-bottom: 10px">
    {{message}}
  </div>
  <div *ngIf="success.length>0" class="alert alert-success" style="margin-bottom: 10px">
    {{success}}
  </div>
  <div id="MMADdiv" class="form-group"
   style="margin-top: 15px; margin-left: 15px; margin-right: 30px; text-align: center; font-weight: bold">
  <p>What kind of text do you want to transcribe?</p>
</div>
  <div class="row text-center" style="margin-left: 40px; margin-top: 10px">
    <div class="col-sm-6" style="text-align: left">
      <p class="NewDocPage"><input type="radio" checked="checked" name="chooseStructure" (click)="choose('Prose')">Prose (Novel)</p>
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Poetry')">Commedia</p>
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Play')">Play</p>
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('CTP')">Canterbury Tales</p>
    </div>
    <div class="col-sm-6"  style="text-align: left">
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Letter')">Letter</p>
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Plain')">Plain Text</p>
      <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Empty')">Empty Page</p>
    </div>
  </div>
  <div id="MMADdiv" class="form-group"
   style="margin-top: 15px; margin-left: 15px; margin-right: 30px; margin-bottom: 0px">
    <p style="margin:0px">Entity Name ({{entity.sample}})&nbsp;&nbsp;
    <input type="text"
    style="width: 170px; display: inline-block" class="form-control"  placeholder="Name" [(ngModel)]="entity.name"/>
  </p>
  </div>
  <div [ngSwitch]="choice">
      <tc-newpage-prose *ngSwitchWhen="'Prose'" [entity]="entity" [(template)]="template" [page]="page"></tc-newpage-prose>
      <tc-newpage-poetry *ngSwitchWhen="'Poetry'" [entity]="entity" [page]="page" ></tc-newpage-poetry>
      <tc-newpage-play *ngSwitchWhen="'Play'" [entity]="entity" [page]="page"></tc-newpage-play>
      <tc-newpage-ctp *ngSwitchWhen="'CTP'" [entity]="entity" [page]="page"></tc-newpage-ctp>
      <tc-newpage-letter *ngSwitchWhen="'Letter'" [entity]="entity" [page]="page"></tc-newpage-letter>
      <tc-newpage-plain *ngSwitchWhen="'Plain'" [entity]="entity" [page]="page"></tc-newpage-plain>
      <tc-newpage-empty *ngSwitchWhen="'Empty'" [entity]="entity" [page]="page"></tc-newpage-empty>
  </div>
  <div id="MMADbutton" style="text-align: center; margin-top: 10px">
      <button type="button" class="btn btn-primary" (click)="submit()">Choose</button>
  </div>
</form>
</div>
