<div *ngIf="uiService.community">
  <div id="ENPhead" modal-draggable class="modalHeader">Edit new text in page "{{page.attrs.name}}" in document "{{uiService.document.attrs.name}}" for Community "{{uiService.community.attrs.name}}"
  <button type="button" (click)="closeModalNP()" class="close"
    data-dismiss="modal"
    style="font-size:200%; font-weight:200; position: relative; left:-10px; top:-3px;">&times;
  </button>
  </div>
<form action="">
  <div *ngIf="message.length>0" class="alert alert-danger" style="margin-bottom: 10px">
    {{message}}
  </div>
  <div *ngIf="success.length>0" class="alert alert-success" style="margin-bottom: 10px">
    {{success}}
  </div>
  <div id="MMADdiv" class="form-group"
   style="margin-top: 15px; margin-left: 15px; margin-right: 30px">
    <label>Entity Name ({{entity.sample}})</label>&nbsp;&nbsp;
    <input type="text"
    style="width: 170px; display: inline-block" class="form-control"  placeholder="Name" [(ngModel)]="entity.name"/>
  </div>
  <div style="margin-left: 40px; margin-top: 10px">
    <p *ngIf="prev.length" class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Previous')">Continue previous page</p>
    <p class="NewDocPage"><input type="radio" checked="checked" name="chooseStructure" (click)="choose('Prose')">Prose</p>
    <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Poetry')">Poetry</p>
    <p class="NewDocPage"><input type="radio" name="chooseStructure" (click)="choose('Play')">Play</p>
    <p class="NewDocPage"><input type="radio" name="chooseStructure">Letter</p>
    <p class="NewDocPage"><input type="radio" name="chooseStructure">Plain text</p>
    <p class="NewDocPage"><input type="radio" name="chooseStructure">Empty page</p>
  </div>
  <div [ngSwitch]="choice">
      <tc-newpage-prose *ngSwitchWhen="'Prose'" [entity]="entity" [(template)]="template"></tc-newpage-prose>
      <tc-newpage-poetry *ngSwitchWhen="'Poetry'" [entity]="entity"></tc-newpage-poetry>
      <tc-newpage-play *ngSwitchWhen="'Play'" [entity]="entity"></tc-newpage-play>
  </div>
  <div id="MMADbutton" style="text-align: center; margin-top: 10px">
      <button type="button" class="btn btn-primary" (click)="submit()">Choose</button>
  </div>
</form>
</div>
