<div style="text-align: center">
  <div id="ECSuccess"><div *ngIf="success" class="alert alert-success">
      {{success}}</div>
  </div>
  <div id="ECMessage"><div *ngIf="message" class="alert alert-danger">
      {{message}}</div>
  </div>
    <label>Name</label> <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;"></span>
    <input type="text" style="display: inline-block" placeholder="(20 characters maximum)"
    [(ngModel)]="edit.name">
    <seg *ngIf="!community">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Abbreviation</label>
      <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;">
      </span>
      <input type="text" placeholder="(4 characters maximum)"
      [(ngModel)]="edit.abbr">
    </seg>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div class="form-group" *ngIf="community" style="margin-right:15px; margin-left: 15px">
    <label>Abbreviation</label> <span> {{edit.abbr}}  (cannot alter)</span>
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
    <label>Long Name</label>
    <input type="text" class="form-control" placeholder="Long Name (80 characters maximum)"
    [(ngModel)]="edit.longName">
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
    <label>Description</label>
    <textarea class="form-control" rows="8" cols="50" placeholder="Description (you can include HTML)"
      [(ngModel)]="edit.description"></textarea>
  </div>
  <div class="form-group" style="margin-right:15px; margin-left: 15px">
    <label>Accessible to others</label> <br/>
    <input type="checkbox" style="margin-left: 10px" [(ngModel)]="edit.public">&nbsp;&nbsp;Everyone can see it&nbsp;&nbsp;&nbsp;&nbsp;
    <span *ngIf="edit.public">
      <input type="checkbox" [(ngModel)]="edit.accept" ng-disabled="edit.public==false">Anyone can ask to join
    </span>
    <span *ngIf="edit.accept&&edit.public">
      <input type="checkbox" [(ngModel)]="edit.autoaccept" ng-disabled="edit.accept==false">Anyone asking joins
    </span>
    <span *ngIf="edit.autoaccept&&edit.public&&edit.accept">
      <input type="checkbox" [(ngModel)]="edit.alldolead" ng-disabled="edit.autoaccept==false">Everyone joining leads
    </span>
    <span *ngIf="(edit.autoaccept||edit.accept) && !edit.alldolead" style="float:right">
      <input type="checkbox" [(ngModel)]="edit.alltranscribeall" ng-disabled="edit.alldolead==true">Everyone joining transcribes everything
    </span>

    </div>

  <div class="form-group" style="width:100%; margin-right:15px; margin-left: 15px">
    <form name="communityForm" >
      <label>Choose community image (max. {{picFile.maxWidth}}x{{picFile.maxHeight}})</label> <br/>
      <div style="width: 600px; margin-left:auto; margin-right:auto;  text-align:center">
        <input type="file"  name="file" id="EDIB"
        accept="image/*" (change)="selectImage($event)" required style="display: block; margin : auto;"><br/>
        <div *ngIf="fileTooBig()" class="alert alert-danger" style="margin:2px">File too large
          ({{picFile.size / 1024}} KB): max {{picFile.maxSize / 1024}} px</div>
        <div *ngIf="fileTooHigh()" class="alert alert-danger" style="margin:2px">Image too high
          ({{picFile.height}} pixels): max {{picFile.maxHeight}} px</div>
        <div *ngIf="fileTooWide()" class="alert alert-danger" style="margin:2px">Image too wide
          ({{picFile.width}} pixels): max {{picFile.maxWidth}} px<br/></div>
        <div id="ECImage">
          <span *ngIf="isImageOK()">
            <button type="button" (click)="nullImage(picFile.file)">Remove</button>
          </span>
        </div>
      </div>
    </form>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div  style="text-align: center">
    <button type="button" class="btn btn-primary btn-md" (click)="submit()">{{community ? 'Update': 'Create'}}</button>
  </div>
