<div class="headerTC">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse"
        id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-left">
          <li><a [routerLink]="['Home']">
              <span class="glyphicon glyphicon-home"></span></a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown"
              role="button" aria-haspopup="true" aria-expanded="false">
              Public Communities <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li *ngFor="#community of state.publicCommunities">
                <a [routerLink]="['Community',
                  {id: community.getId(), route: 'home'}]">
                  {{community.attrs.name}}</a>
              </li>
            </ul>
          </li>
          <li *ngIf="showNoUser()">
            <a (click)=showLoginModal()>
              <span class="glyphicon glyphicon-user"></span>Sign Up/
              <span class="glyphicon glyphicon-log-in"></span> Log In
            </a>
          </li>
          <template [ngIf]="isAuthenticated()">
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                My Communities <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a [routerLink]="['CreateCommunity']">Create Community</a>
                </li>
                <li role="separator" class="divider"></li>
                <li *ngFor="#membership of state.authUser.attrs.memberships">
                  <a [routerLink]="['Community',
                    {id: membership.community.getId(), route: 'home'}]">
                    {{membership.community.attrs.name}}
                  </a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown"
                role="button" aria-haspopup="true" aria-expanded="false">
                {{state.authUser.getName()}} <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a (click)="logout()">Log Out</a></li>
                <li><a (click)="showLoginProf()">Login Profile</a></li>
                <li><a [routerLink]="['MemberProfile']">Member Profile</a></li>
              </ul>
            </li>
          </template>
        </ul>
      </div>
      <div class="navbar-header navbar-right">
        <button type="button" class="navbar-toggle collapsed"
          data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['Home']">
          <sup style="font-size:100%">C</sup></a>
      </div>
    </div>
  </nav>
</div>
<div style="margin-right:auto; font: 15px/26px 'Open Sans', Helvetica, Helvetica Neue, Arial; margin-left:auto; width:100%; padding-top: 10px;   padding-bottom: 1px; background-color: #00446d">
  <p style="font-size:200%; text-align: center; margin-bottom: 5px; padding-bottom:0px; color: white">Textual Communities</p>
  <p *ngIf="state.authUser" style=" text-align: center; margin-bottom: 5px; padding-bottom:0px;" class="wizardp">
    <seg *ngIf="showCreateOrJoin()">
      You do not lead or belong to any communities</seg>
    <seg *ngIf="showAddDocument()">
    You have a community ("{{state.community?.attrs.name}}"),
      but there are no documents in it</seg>
    <seg *ngIf="showAddPage()">
      You have a community ("{{state.community?.attrs.name}}") with a document ("{{state.document?.attrs.name}}"),
      but there are no pages in it</seg>
      <!--><seg>Make the edition you want</seg></-->
  </p>
</div>
<div *ngIf="showNoUser()" class="wizard">
  <p class="wizardp">Make the edition you want</p>
    <a data-toggle="modal" data-target="#myModal">
    <button class="btn btn-lg wizardbutton"
      onmouseover="this.style.color='#ffe2be';"
      onmouseout="this.style.color='white';"
      style="width: 100px;">Start</button>
  </a>
</div>
<div *ngIf="state.authUser" class="wizard">
  <p *ngIf="showCreateOrJoin()" class="wizardp">
    <a *ngIf="createNotChosenF()" [routerLink]="['CreateCommunity']">
      <button class="btn btn-lg wizardbutton"
        onmouseover="this.style.color='#ffe2be';"
        onmouseout="this.style.color='white';"
        style="width: 180px;">Create Community</button></a>
      <a *ngIf="createChosenF()" (click)="saveCommunity()">
          <button class="btn btn-lg wizardbutton"
            onmouseover="this.style.color='#ffe2be';"
            onmouseout="this.style.color='white';"
            style="width: 180px;">Create Community</button></a>
    &nbsp;&nbsp;&nbsp;or&nbsp;&nbsp;&nbsp;
    <a [routerLink]="['MemberProfile']">
      <button class="btn btn-lg wizardbutton"
        onmouseover="this.style.color='#ffe2be';"
        onmouseout="this.style.color='white';"
        style="width: 170px;">Join Community</button></a>
  </p>
  <p *ngIf="showAddDocument()" class="wizardp">
    <a  (click)="loadModal('add-document')">
      <button class="btn btn-lg wizardbutton"
        onmouseover="this.style.color='#ffe2be';"
        onmouseout="this.style.color='white';"
        style="width: 180px;">
        Add Document</button>
    </a>
  </p>
  <p *ngIf="showAddPage()" class="wizardp">
    <a (click)="loadModal('add-document-page')">
      <button class="btn btn-lg wizardbutton"
        onmouseover="this.style.color='#ffe2be';"
        onmouseout="this.style.color='white';"
        style="width: 180px">
        Add Page</button>
    </a>
  </p>
</div>
<tc-login-modal></tc-login-modal>
<tc-manage-modal></tc-manage-modal>
