<div style="font-size: 110%">
  <div modal-draggable class="modalHeader">Joining community "{{joiningcommunity.attrs.name}}"
    <button type="button" (click)="closeModalJC()" class="close" data-dismiss="modal" style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;</button>
  </div>
  <div *ngIf="status=='autoaccept'" style="margin-left: 20px; margin-right: 20px">
    <p> You have asked to join community "{{joiningcommunity.attrs.name}}" led by {{communityleader.name}}. As this community is set to accept as a member
     anyone who asks to join, you are now a member of this community.</p>
     <p>An email has been sent to  {{communityleader.name}}, informing him or her that you have joined this community, and giving your
       email address.
    </p>
</div>
<div *ngIf="status=='requestaccept'" style="margin-left: 20px; margin-right: 20px">
  <p> You have asked to join community "{{joiningcommunity.attrs.name}}" led by {{communityleader.name}}. Requests to join this community must be approved by a community leader.</p>
  <p>An email has been sent to  {{communityleader.name}}, informing him or her that you have asked to join this community, and giving your
     email address.
  </p>
</div>
<div *ngIf="status=='alldolead'" style="margin-left: 20px; margin-right: 20px">
  <p> You have asked to join community "{{joiningcommunity.attrs.name}}". Everyone who joins this community becomes a leader.</p>
  <p>Congratulations! you are now a leader of this community!</p>

</div>

</div>
