<html>
<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:20px; word-wrap:break-word; }
    </style>
</head>

<body>
<div class="container">
<div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span>Your request to join a textual community</h1>
    </div>
<p>Dear <%= username %> at <%= useremail %> </p>
<p>Your request to join community <%= communityname %> has been sent to the leader of this community.</p>s
</div>
</body>
</html>
