<div style="margin-right:auto; margin-left:auto; width:900px">
    <p *ngIf="environment!='production'" style="margin-top:10px; text-align:center"><button type="button" class="btn btn-primary btn-sm" [routerLink]="['CreateCommunity']">Create Community</button></p>

<h4>Member Profile for {{authUser.attrs.local.name}}</h4>
  <p style="margin:3px">This account is associated with the email address {{authUser.attrs.local.email}}</p>
  <p *ngIf="authUser.attrs.facebook || authUser.attrs.google || authUser.attrs.twitter " style="margin:3px">You can log in by <span *ngIf="authUser.attrs.facebook" class="fa fa-facebook"><img height="32" src="../images/facebook.png"> Facebook</span> <span *ngIf="authUser.attrs.google"><img height="32" src="../images/google.png"> Google</span> <span *ngIf="authUser.attrs.twitter"><img height="32" src="../images/twitter.png"> Twitter</span></p>
  <div *ngIf="nmemberships">
    <p>You belong to {{nmemberships}} <span *ngIf="nmemberships>1">communities:</span><span *ngIf="nmemberships==1">community:</span></p>
    <table style="border-spacing: 10px 2px; border-collapse: separate; width:100%" class="table">
      <thead>
        <tr>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-2">Name</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Role</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Joined</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Assigned</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">In Progress</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Submitted</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Approved</th>
          <th style="border-bottom-width:0px; font-size:80%" class="col-md-1">Committed</th>
          <th style="border-bottom-width:0px;" class="col-md-3">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="#membership of memberships" class="commMembership">
          <td style="border-top-width:0px">{{membership.community.attrs.name}}</td>
          <td style="border-top-width:0px">
            <button *ngIf="membership.community.attrs.documents.length" type="button" class="btn btn-primary btn-sm"
                        (click)="getHistory(authUser, membership.community)" style="margin-top:5px">History</button>
            {{membership.role}}
            <span *ngIf="membership.approvername"><br>Approver: {{membership.approvername}} ({{membership.approvermail}})</span>
          </td>
          <td style="border-top-width:0px">{{formatDate(membership.created)}}</td>
          <td style="border-top-width:0px; text-align:center">
                  ({{membership.pageinstances.assigned.length}})
                  <ul *ngIf="membership.pageinstances.assigned.length">
                    <li *ngFor="#instance of membership.pageinstances.assigned" style="text-align:left">
                      <a (click)="showPage(membership.community, instance.docId, instance.pageId)">{{instance.docName}}:{{instance.name}}</a></li>
                  </ul>
          </td>
          <td style="border-top-width:0px; text-align:center">{{membership.pageinstances.inprogress.length}}
            <ul *ngIf="membership.pageinstances.inprogress.length">
              <li *ngFor="#instance of membership.pageinstances.inprogress" style="text-align:left">
                <a (click)="showPage(membership.community, instance.docId, instance.pageId)">{{instance.docName}}:{{instance.name}}</a></li>
            </ul>
          </td>
          <td style="border-top-width:0px; text-align:center">{{membership.pageinstances.submitted.length}}
            <ul *ngIf="membership.pageinstances.submitted.length">
              <li *ngFor="#instance of membership.pageinstances.submitted" style="text-align:left">
                <a (click)="showPage(membership.community, instance.docId, instance.pageId)">{{instance.docName}}:{{instance.name}}</a></li>
            </ul>
          </td>
          <td style="border-top-width:0px; text-align:center">{{membership.pageinstances.approved.length}}
            <ul *ngIf="membership.pageinstances.approved.length">
              <li *ngFor="#instance of membership.pageinstances.approved" style="text-align:left">
                <a (click)="showPage(membership.community, instance.docId, instance.pageId)">{{instance.docName}}:{{instance.name}}</a></li>
            </ul></td>
          <td style="border-top-width:0px; text-align:center">{{membership.pages.committed}}
            <ul *ngIf="membership.pageinstances.committed.length">
              <li *ngFor="#instance of membership.pageinstances.committed" style="text-align:left">
                <a (click)="showPage(membership.community, instance.docId, instance.pageId)">{{instance.docName}}:{{instance.name}}</a></li>
            </ul>
          </td>
          <td  style="border-top-width:0px; padding: 0px; text-align: center">
              <button *ngIf="membership.role=='CREATOR' || membership.role=='LEADER'" type="button" class="btn btn-primary btn-sm"
              (click)="navigate(membership.community, 'edit')">Edit</button>&nbsp;
              <button type="button" class="btn btn-primary btn-sm" (click)="navigate(membership.community,'view')">View</button>&nbsp;
              <button *ngIf="membership.role=='CREATOR' || membership.role=='LEADER'" type="button" class="btn btn-primary btn-sm" (click)="invite(membership.community)">Invite</button></td>

        <!-- td><a href="#/community/{{membership.community._id}}/view">View</a></td><td><a href="#/community/{{membership.community._id}}/home">Home</a></td -->
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="joinableCommunities.length">
    <p>You can join these communities:</p>
    <table class="table" style="border-spacing: 10px 2px; border-collapse: separate; width: 100%">
      <thead>
        <tr><th style="border-bottom-width:0px" class="col-md-1">Abbrev</th>
          <th style="border-bottom-width:0px" class="col-md-2">Name</th>
          <th style="border-bottom-width:0px" class="col-md-6">Description</th>
          <th style="border-bottom-width:0px" class="col-md-2">Join status</th>
          <th style="border-bottom-width:0px" class="col-md-1">&nbsp;</th></tr>
      </thead>
      <tbody>
        <tr *ngFor="#community of joinableCommunities"
          class="commMembership">
          <td style="border-top-width:0px">{{community.attrs.abbr}}</td>
          <td  style="border-top-width:0px">{{community.attrs.name}}</td>
          <td  style="border-top-width:0px"><p [innerHTML]="community.attrs.description"></p></td>
          <td  style="border-top-width:0px">
              <span *ngIf="!community.attrs.autoaccept">Membership must be approved</span>
              <span *ngIf="community.attrs.autoaccept&&!community.attrs.alldolead">Membership is automatic</span>
              <span *ngIf="community.attrs.autoaccept&&community.attrs.alldolead">Every member becomes a leader</span>
          </td>
          <td  style="border-top-width:0px"><button
              type="button" class="btn btn-primary btn-sm"
              (click)="joinCommunity(community)">Join Community</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
