<div  style="height:90%">
  <div id="ENPhead" modal-draggable class="modalHeader">Error parsing "{{docname}}" for Community "{{uiService.state.community.attrs.name}}"
<button type="button" (click)="closeModalXMLP()" class="close"
    data-dismiss="modal"
    style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;
  </button>
  </div>
    <div *ngIf="error.length>0" class="alert alert-danger" style="margin-bottom: 10px">
      <div *ngFor="#nerror of error">
        <p>Error in line {{nerror.line-3}}, character {{nerror.column}}: {{nerror.message}}<br/>
        Context is: "{{lines[nerror.line-4]}}"</p>
      </div>
  </div>
</div>
