<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Textual Communities Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body class="jumbotron text-center" style="width: 580px;  margin:25px 5px 5px 5px; font-size:150%">
          <p style="text-align: left; margin-bottom: 20px">There is already a different <%= context %> account, linked to the email "<%= email %>". If you want to use this <%= context %> account, you will need to remove the link on that account (log in to that account,
            then go to 'Log in profile' from the account menu at the right of the top menu bar and choose unlink.)</p>
            <a href="/auth/facebookcancel"><button class="btn btn-md" style="float:right; width: 100px">OK</button></a>

</body>
</html>
