<!doctype html>
<html>
<head>
    <title>Preview Transcript</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%- url %>/app/data/default.css">

</head>
<body>
<%- source %>
</body>
<script type="text/javascript" src="<%- url %>/app/data/dettranscript.js"></script>

</html>
