<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
</head>
<body class="jumbotron text-center" style="width: 580px;  margin:15px 5px 5px 5px; font-size:140%">
        <h3><%= greeting %></h3>
	<p style="margin-top: 25px; margin-bottom: 20px"><%= greeting2 %></p>

		<p>
      <% if (authenticate == "0") {%><a href="/auth/forgot">Request a new link</a> <% } %>
      <% if (authenticate == "1") {%><a href="/auth">Log in</a> <% } %></p>
</body>
</html>
