<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Textual Communities Authentication: set up Google</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body class="jumbotron text-center" style="margin:5px 10px 15px 10px; padding: 5px 5px 15px 15px; font-size: 120%">
	<p style="padding-right:30px; margin-bottom: 5px">There is no Textual Communities account identified by the primary email <b><%= google.email %></b> of the Google account you just selected.</p>
  <table style="text-align:left;">
   <tr><td style="width: 70px; vertical-align:top"><b>EITHER</b></td><td style="width: 450px">
      <p style="margin-bottom: 5px">Start a new Textual Communities account <br/>identified by the email <%= google.email %></p></td>
      <td>
       <a href="/auth/googlenew"> <input type="button" value="New account" class="btn btn-warning btn-sm" ></a>
     </td>
   </tr>
   <tr>
     <td style="vertical-align:top"><b>OR</b></td><td>
       <p style="margin-bottom: 5px">Associate this Google account with an existing Textual Communities account identified by the email:</p>
     </td>
     <td></td>
   </tr>
 </table>
    <!-- New password FORM -->
    <form action="/auth/googlelinkemail" method="post">
      <table style="text-align:left;">
        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <tr>
          <td colspan="4">
            <div class="alert alert-danger"><%= message %></div>
          </td>
        </tr>
        <% } %>
      <tr>
        <td style="width: 200px;">&nbsp;</td>
        <td style="width: 120px;">Email</td>
        <td style="width: 350px;"><input type="text" name="email" size="35"></td>
        <td rowspan="2"><button type="submit" class="btn btn-warning btn-sm" >Choose<br>email address</button> </td>
      </tr>
      <tr>
            <td>&nbsp;</td>
            <td>Confirm Email</td>
            <td><input type="text" name="emailconfirm" size="35"></td>

      </tr>
      <tr class="form-group"  style="display:none">
         <td colspan="4">
            <input type="text" name="displayName" value="<%= google.name %>">
        </td>
      </tr>
    </table>
  </form>
  <table style="text-align:left; margin-top:5px;">
    <tr>
      <td style="width: 80px;"><b>OR</b></td>
      <td style="width: 400px;">&nbsp;</td>
      <td> <a href="/auth/googlecancel"> <input type="button" value="Cancel" class="btn btn-warning btn-sm" style="background-color: white; color: #f0ad4e" onmouseover="this.style.background='#F5F5F5';" onmouseout="this.style.background='white';"></a>
    </tr>
  </table>



</body>
</html>
