<html>
<head>
    <title>Textual Communities Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body class="jumbotron text-center" style="margin:35px 30px 30px 30px">
        <p><span class="fa fa-lock"></span> Log in or Register</p>
        <a href="/auth/login?url=<%= url %>" class="btn btn-default btn-xs"><span class="fa fa-user"></span> Log in by email/password</a>
        <a href="/auth/signup?url=<%= url %>" class="btn btn-default btn-xs"><span class="fa fa-user"></span> Sign up by email/password</a>
        <hr style="height:0pt; visibility:hidden; margin:5px" />
        <a href="/auth/callfacebook" target="_parent" class="btn btn-primary btn-sm"><span class=""></span> Facebook</a>
        <a target="_parent" href="/auth/calltwitter" class="btn btn-info btn-sm"><span class="fa fa-twitter"></span> Twitter</a>
		    <a target="_parent" href="/auth/callgoogle" class="btn btn-danger btn-sm"><span class="fa fa-google-plus"></span> Google</a>
</body>
</html>
