<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Production Version</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body class="jumbotron text-left" style="width: 580px;  margin:5px 5px 5px 5px; font-size:150%; font-family: Arial">
   <p>This is the <font color="red">Production</font> version of Textual Communities. You can only log in if you are a member of an existing community. You can:</p>
   <ul>
   <li>Try out the <a target="new" href="https://textualcommunitiessandbox.org"><font color="red">Sandbox</font>.</a> All of Textual Communities is here!</li>
   <li>Find out about Textual Communities at the <a target="new" href="https://wiki.usask.ca/display/TC/Textual+Communities">Wiki</a>,</li>
   <li>See the <a target="new" href="https://textualcommunities.org/app/community/?id=5aaa517f8d92a41bfffafacc&route=view&document=5aaac354c45ae47e9b044722&page=5aaac352131df0307e10ea8a">Canterbury Tales</a> community,</li>
   <li><a href="mailto:textualcommunities@usask.ca">Email</a> the leadership of Textual Communities.</li>
 </ul>



</body>
</html>
