<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Sandbox Version</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body class="jumbotron text-left" style="width: 580px;  margin:5px 5px 5px 5px; font-size:150%; font-family: Arial">
   <p>The <font color="red">Sandbox</font> version gives access to every feature in TC. You can:</p>
   <ul>
   <li>Create an account, make a community and add documents,</li>
   <li>Start transcribing documents and invite others to help,</li>
   <li>Collate different versions of the texts in those documents.</li>
 </ul>
 <p>We try to maintain all communities in the sandbox. To be sure that your community will flourish,
   <a href="mailto:textualcommunities@usask.ca">ask</a> to move it to the  <a target="new" href="https://textualcommunities.org/app">production version</a>.</p>
</body>
</html>
