<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Reset password message for Textual Communities</h1>
    </div>
	<p>A message with a link to reset your password has been sent to your email address. This link is valid for one hour only.</p>
	<p>Textual Communities <a href="/">Home</a>.</p>
</div>
</body>
</html>