<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Textual Communities Authentication: set up Twitter</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body class="jumbotron text-center" style="margin:5px 10px 15px 10px; padding: 5px 5px 15px 15px; font-size: 120%">

    <h5> Twitter account for <%= name %>: email needed</h5>
	<p style="padding-right:30px; margin-bottom: 10px">Textual Communities needs an email address to identify you, and to send you messages </p>
    <!-- show any messages that come back with authentication -->


    <% if (message.length > 0) { %>
      <script>
        document.body.style.marginTop="0px";
        document.body.style.position="relative";
        document.body.style.top="-10px";
      </script>
        <div class="alert alert-danger" style="padding: 0px"><%= message %></div>
    <% } %>
    <!-- New name FORM -->
    <form action="/auth/twitteremail" method="post" style="text-align: left;">
    	 <div style="display:none"><input type="text" name="displayName" value="<%= name %>"></div>
        <div class="form-group" style="margin:12px">
            <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
            <input type="text" class="form-control" style="width: 250px; display: inline-block" name="email">
        </div>
          <div class="form-group" style="margin:12px">
            <label>Confirm Email</label>
            <input type="text" class="form-control" style="width: 250px; display: inline-block" name="emailconfirm">
        </div>
      <div style="text-align: center; margin-top: 0px"> <button type="submit" class="btn btn-warning btn-md">Set  email address</button> &nbsp; &nbsp; &nbsp;<a href="/auth/twittercancel">
  <input type="button" value="Cancel" class="btn btn-warning btn-md" style="background-color: white; color: #f0ad4e" onmouseover="this.style.background='#F5F5F5';" onmouseout="this.style.background='white';">
</a></div>
    </form>


</body>
</html>
