@import '~codemirror/lib/codemirror.css';
@import '~bootstrap/less/bootstrap';
@import '~font-awesome/less/font-awesome';
@icon-font-path: '~bootstrap/fonts/';
.flex-column {
    display: flex;
    display:-webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    align-content: stretch;
    -webkit-align-items: flex-stretch;
}

.flex-row {
    .flex-column;
    flex-direction: row;
    -webkit-flex-direction: row;
    webkit-justify-content: flex-stretch;
    align-items: stretch;
 }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    .flex-column;

    .resizer {
        background: linear-gradient(to right, #505050, #383838);

        &.vertical {
            cursor: col-resize;
            width: 7px;
        }

        &.horizontal {
            cursor: row-resize;
            height: 7px;
        }
    }


    .header {
        .titleComm {
            display: inline-block;
            height: 96%;
            text-align: center;
			      vertical-align: middle;
            padding: 0 13px;
            margin: 1px 0;
            font-family: Arial;
            font-size: 18px;
            background-color: white;
            line-height: 50px;
            width: 200px;
        }
        .titleTC {
            background-color: white;
            color: black;
        }

    }

    .tc-header {
        flex: 0 0 54px;
        padding: 4px 0 2px;
        #TCHead {
            display: flex;
            float: right;
            display:-webkit-flex;
            justify-content:  flex-end;
            webkit-justify-content: flex-end;
            align-items: center;
            -webkit-align-items: flex-stretch;
        }
    }

    .tc-content {
        flex: 1 100%;
        padding: 2px;
        .flex-column;

        .community-header {
            flex: 0 0 54px;
            .flex-row;
            align-items: flex-start;
            -webkit-align-items: flex-start;
            justify-content: space-between;
            -webkit-justify-content: space-between;
            border-width: 1px;
            border-style: solid;
            border-radius: 5px;
            margin: 8px 10px 8px 0;
            background-color: #CBBCBC;

            .communityimage {
                height: 52px;
            }
        }

        .community-content {
            .flex-column;
            flex: 1;

            .view {
                flex: 1;
            }
            @import './community/view.less';
        }

        .community-form {
            width: 600px;
            margin: 20px auto;
        }
        .community-create {
        	text-align: center;
        	margin: 30px 10px 0 10px;
        }
        .community-create-inf {
        	float: right;
        	font-size: 130%;
        	font-weight: bold;
        }
    }


    &.hide-header {
        .tc-header {
            display: none;
        }

        .community-header {
            display: none;
        }
    }

  div.TCManageDiv {margin-left: auto; margin-right: auto; }
    #editHolder {
        margin-left: 8px; margin-right: 8px; margin-top: 0px;

        .container-fluid;

        .sidebar {
            .make-xs-column(3);
        }

        .viewer {
            .make-xs-column(9);

            textarea {
                width: 100%;
                height: 300px;
            }
        }
    }

    #Minimize {
        position: absolute; left:100px; top: 0px; background-color:#f1f1f1;
    }
}
div.description {
  width: 700px;
  margin-left:auto;
  margin-right:auto;
}

@media only screen and (max-width:760px){
    .header{
        width:100%!important;
  }
}

.navbar {height:35px !important; min-height: 30px !important; }
.navbar-nav > li > a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}
