<div *ngIf="uiService.community">
  <div modal-draggable class="modalHeader">Add Empty Document to Community "{{uiService.community.attrs.name}}"
    <button type="button" (click)="closeModalAD()" class="close"
    data-dismiss="modal"
    style="font-size:200%; font-weight:800; position: relative; left:-10px; top:-3px;">&times;
  </button>
  </div>
<form action="">
  <div *ngIf="message.length>0" class="alert alert-danger" style="margin-bottom: 10px">
    {{message}}
  </div>
  <div *ngIf="success.length>0" class="alert alert-success">
    {{success}}
  </div>
  <div id="MMADdiv" class="form-group"
   style="margin-top: 30px; margin-left: 20px; margin-right: 20px">
    <label>Document Name&nbsp;&nbsp;</label>
    <input type="text"
    style="width: 170px; display: inline-block" class="form-control"  placeholder="Name" [(ngModel)]="doc.name">
    <div id="MMADbutton" style="text-align: center; margin-top: 20px">
      <button type="button" class="btn btn-primary" (click)="submit()">Add Document</button>
    </div>
  </div>
</form>
</div>
