<form action="" ng-controller="AddXMLDocCtrl">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Name"
      ng-model="doc.name">
  </div>
  <div class="form-group">
    <label>XML</label>
    <textarea ng-model="text">
    </textarea>
  </div>
  <div class="form-group">
    <label>XML file</label>
    <input type="file" x-filereader=""/>
  </div>
  <button type="button" class="btn btn-default" ng-click="submit()"
    >Create</button>
</form>
