  <div ng-if="message.length>0" class="alert alert-danger">
    {{message}}
  </div>
  <div style="text-align: center">
    <label>Name</label> <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;"></span>
    <input type="text" style="display: inline-block" placeholder="(20 characters maximum)"
    ng-model="community.name">
    <seg ng-show="isCreate===true">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <label>Abbreviation</label> <span class="glyphicon glyphicon-asterisk" style="font-size: 10px;"></span>
      <input type="text" placeholder="(4 characters maximum)"
    ng-model="community.abbr">
    </seg>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div class="form-group" ng-show="isCreate===false">
    <label>Abbreviation</label> <span> {{community.abbr}}  (cannot alter)</span>
  </div>
  <div class="form-group">
    <label>Long Name</label>
    <input type="text" class="form-control" placeholder="Long Name (80 characters maximum)"
    ng-model="community.longName">
  </div>
  <div class="form-group">
    <label>Description</label>
    <textarea class="form-control" placeholder="Description (you can include HTML)"
      ng-model="community.description"></textarea>
  </div>
  <div class="form-group">
    <label>Accessible to others</label> <br/>
    <input type="checkbox" ng-model="community.public">&nbsp;&nbsp;Everyone can see it&nbsp;&nbsp;&nbsp;&nbsp;
    <span ng-hide="community.public==false">
      <input type="checkbox" ng-model="community.accept" ng-disabled="community.public==false">Anyone can ask to join
    </span>
    <span ng-hide="community.accept==false||community.public==false">
      <input type="checkbox" ng-model="community.autoaccept" ng-disabled="community.accept==false">Anyone asking joins
    </span>
    <span ng-hide="community.autoaccept==false||community.public==false||community.accept==false">
      <input type="checkbox" ng-model="community.alldolead" ng-disabled="community.autoaccept==false">Everyone joining leads
    </span>
  </div>
  <div class="form-group"  ng-controller="UpLoadCtrl">
    <form ng-show="!community.image" name="communityForm" >
      <label>Choose community image (max. 300x50)</label> <br/>
      <div  style="width: 200px; margin-left:auto; margin-right:auto">
        <input type="file" ngf-select ng-model="picFile" name="file"
        accept="image/*" ngf-max-size="100KB" ngf-max-height="34" ngf-max-width="300" required>
        <span ng-show="communityForm.file.$error.maxSize">File too large
          ({{picFile.size / 1000|number:1}} KB): max {{picFile.$errorParam}}</span>
        <span ng-show="communityForm.file.$error.maxHeight">Image too high
          ({{picFile.$ngfHeight}} pixels): max {{picFile.$errorParam}}</span>
        <span ng-show="communityForm.file.$error.maxWidth">Image too wide
          ({{picFile.$ngfWidth}} pixels): max {{picFile.$errorParam}}</span>
        <img ng-show="communityForm.file.$valid" ngf-thumbnail="!picFile.$error && picFile" style="width: 300px; height: 35px; margin-top: 5px; margin-left:10px">
        &nbsp;&nbsp;<button type="button" ng-click="picFile = null;" ng-show="picFile">Remove</button>&nbsp;&nbsp;
        <button type="button" ng-click="upload(picFile)" ng-show="picFile">Confirm</button>
      </div>
    </form>
    <div ng-show="community.haspicture">
      <label>Change community image (max. 300x35)</label>
      <div  style="width: 500px; margin-left:auto; margin-right:auto">
        <img src="{{community.image}}"/>&nbsp;&nbsp;<button type="button" ng-click="picFile = null;community.image='';community.haspicture=false; nullImage()">Remove</button>
      </div>
    </div>
  </div>
  <hr style="border: 1px solid #8c8b8b;">
  <div  style="text-align: center">
    <button ng-show="isCreate===true" type="button" class="btn btn-primary btn-md" ng-click="submit()"
      >Create</button>
    <button ng-show="isCreate===false" type="button" class="btn btn-primary btn-md" ng-click="update()"
      >Update</button>
  </div>
