<p *ngIf="state.community.attrs.documents"  style="margin: 20px">
  Number of documents in this community:
  <b>{{state.community.attrs.documents.length}}</b><br/>
  Number of pages in these documents:
  <b>{{state.community.attrs.status?.numOfPages}}</b><br/>
  Number of pages for which transcripts have been made:
  <b>{{state.community.attrs.status?.numOfPagesTranscribed}}</b><br/>
  Number of transcripts made:
  <b>{{state.community.attrs.status?.numOfTranscripts}}</b><br/>
</p>
<p *ngIf="!state.community.attrs.documents"  style="margin: 20px">
  No documents in this community.
</p>
