<div>
  <div modal-draggable class="modalHeader">{{filetype}} document for Community "{{community.attrs.name}}"
    <button type="button" (click)="closeModalUPLC()" class="close" data-dismiss="modal" style="font-size:200%; font-weight:200; position: relative; left:-10px; top:-3px;">&times;</button>
  </div>
  <div id="ECSuccess"><div *ngIf="success" class="alert alert-success">
      {{success}}</div>
  </div>
  <div id="ECMessage"><div *ngIf="message" class="alert alert-danger">
      {{message}}</div>
  </div>
<form action="">
  <div id="MMADXTdiv" class="form-group" style="margin-top: 8px; margin-left: 20px; margin-right: 20px">
    <label style="display: inline-block; vertical-align: top">{{filetype}}&nbsp;&nbsp;</label>
    <textarea [(ngModel)]="text" rows="18" cols="50">
    </textarea>
  </div>
  <div id="MMADXFdiv" class="form-group" style="margin-top: 5px; margin-left: 20px; margin-right: 20px">
    <tc-filereader (filechange)="filechange($event)"></tc-filereader>
    <div style="text-align: center; margin-top: 10px">
      <button type="button" class="btn btn-primary" (click)="default()">Default</button>&nbsp;&nbsp;&nbsp;&nbsp;
      <button type="button" class="btn btn-primary" (click)="submit()">Save</button>
    </div>
  </div>
</form>
</div>
