<tc-splitter class="content" (resize)="onResize($event)">
  <tc-pane class="sidebar">
    <tc-tabs *ngIf="state.community">
      <tc-tab [active]="true" title="Documents">
        <tc-tabs>
          <tc-tab [active]="true" title="By Page">
            <ul class="tree">
              <li *ngFor="#doc of state.community.attrs.documents" 
                [class.collapse-node]="!doc.expand">
                <div>
                  <span class="icon" aria-hidden="true"
                    (click)="toggleDoc(doc)"></span>
                  <a (click)="selectDoc(doc)">
                    {{doc.attrs.name}}
                  </a>
                  <a target="_blank" class="extract-xml"
                    (click)="extractXML($event, doc)">
                  </a>
                  <span (click)="addFirstPage(doc)" 
                    class="add-page-after"></span>
                </div>
                <ul>
                  <li *ngFor="#page of doc.attrs.children">
                    <a (click)="selectPage(page)">
                      {{page.attrs.name}}
                    </a>
                    <span (click)="addPageAfter(page)" 
                      class="add-page-after"></span>
                  </li>
                </ul>
              </li>
            </ul>
          </tc-tab>
          <tc-tab title="By Item">
            <div>world</div>
            <ul class="tree">
              <li *ngFor="#entity of state.community.attrs.entities"
                [class.collapse-node]="!entity.expand">
                <div>
                  <span class="icon" aria-hidden="true"
                    (click)="toggleEntity(entity)"></span>
                  <a (click)="selectEntity(entity)">
                    {{doc.name}}
                  </a>
                </div>
                <ul>
                  <li *ngFor="#node of entity.attrs.children"
                    [class.collapse-node]="!node.expand">
                  </li>
                </ul>
              </li>
            </ul>
          </tc-tab>
        </tc-tabs>
      </tc-tab>
      <tc-tab title="Collations">
        <p>Collation will go here</p>
      </tc-tab>
    </tc-tabs>
  </tc-pane>
  <tc-pane class="viewer">
    <tc-viewer *ngIf="state.page" [page]="state.page"></tc-viewer>
  </tc-pane>
</tc-splitter>

