  <tc-splitter class="horizontal" (resize)="onResize($event)" id="viewerSplitter">
  <tc-pane class="image-viewer" style="position:relative">
    <div [ngClass]="{'nodisplay':!image}" id="imageMap" class="image_map">
    </div>
    <div [ngClass]="{'nodisplay':image}" >
      <p style="position: absolute; top: 40%; left: 40%;">No image associated with this page<br/><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button *ngIf="role=='LEADER'||role=='CREATOR'" type="button" class="btn btn-primary" (click)="addPageImage(page)">Add Image</button>
    </p>
    </div>
    <div *ngIf="state.showSide" style="position: absolute; top:50%; left:0px; z-index:10; border: 0.5px solid #888; height: 36px; width: 14px;
    background-color: #DFDFDF; text-align: center; border-left-style: none" data-toggle="tooltip" title="Collapse side panel">
    <a style="color: black;" class="center" (click)="toggleSide()">
      <span class="center glyphicon glyphicon-triangle-left" style="position: relative; font-size: 8px; top: 7px"></span></a>
    </div>
    <div *ngIf="!state.showSide" style="position: absolute; top:50%; left:0px; z-index:10; border: 0.5px solid #888; height: 36px; width: 14px;
    background-color: #DFDFDF; text-align: center; border-left-style: none" data-toggle="tooltip" title="Expand side panel">
    <a style="color: black;" class="center" (click)="toggleSide()">
      <span class="center glyphicon glyphicon-triangle-right" style="position: relative; font-size: 8px; top: 7px"></span></a>
    </div>
    <div *ngIf="state.showTop" style="position: absolute; top:0px; left:50%; z-index:10; border: 0.5px solid #888; height: 14px; width: 36px;
    background-color: #DFDFDF; text-align: center; border-top-style: none" data-toggle="tooltip" title="Collapse top panel">
    <a  style="color: black;" class="center"  (click)="toggleTop()">
     <span class="center glyphicon glyphicon-triangle-top" style="font-size: 8px; position: relative; top:-5px"></span></a>
   </div>
   <div *ngIf="!state.showTop" style="position: absolute; top:0px; left:50%; z-index:10; border: 0.5px solid #888; height: 14px; width: 36px;
   background-color: #DFDFDF; text-align: center; border-top-style: none" data-toggle="tooltip" title="Expand top panel">
   <a  style="color: black;" class="center"  (click)="toggleTop()">
    <span class="center glyphicon glyphicon-triangle-bottom" style="font-size: 8px; position: relative; top:-5px"></span></a>
  </div>
  </tc-pane>
  <tc-pane class="text-viewer">
    <div class="transcript-header">
      <label *ngIf="prevs.length && isText">From previous page: </label>
      <select *ngIf="prevs.length && isText" [ngModel]="prevLink?._id" (change)="prevLinkChange($event)">
        <option *ngFor="#el of prevs" [value]="el._id">
          {{el.name}} {{el.attrs?.n}}
        </option>
      </select>

      <select *ngIf="revisions.length" [ngModel]="revision?.getId()" (change)="revisionChange($event)">
        <option *ngFor="#r of revisions"
          [value]="r.getId()" >
          {{r.attrs.user.local.name}}
          {{formatDate(r.attrs.created)}} ({{r.attrs.status}})
        </option>
      </select>
      <!-- label>Compare With: </label>
      <select (change)="revisionChange($event)">
        <option *ngFor="#r of revisions"
          [value]="r.getId()" >
          {{r.attrs.user.local.name}}
          {{formatDate(r.attrs.created)}} ({{r.attrs.status}})
        </option>
      </select-->
    </div>
    <tc-codemirror class="transcript"
      [smartIndent]="smartIndent"
      [content]="contentText"
      [state]="state"
      (contentChange)="setContentText($event)">
    </tc-codemirror>
    <div class="container" style="width:100%">
      <div class="row" style="width:100%">
        <div class="col-sm-5" *ngIf="page">
          <div class="buttons" style="float:left; margin-top: 4px">
            <button *ngIf="role=='LEADER'||role=='CREATOR'||(role=='MEMBER'&&pageStatus.access=='ASSIGNED')||(role=='APPROVER'&&pageStatus.access=='ASSIGNED')" type="button" class="btn btn-default btn-xs"
              (click)="save()">Save</button>
              <button  *ngIf="role=='MEMBER'&&pageStatus.access=='ASSIGNED'&&pageStatus.status=='IN_PROGRESS'" type="button" class="btn btn-default btn-xs"
                (click)="submitTranscript()">Submit</button>
              <button  *ngIf="(role=='LEADER'||role=='CREATOR'||role=='APPROVER')&&pageStatus.access=='ASSIGNED'&&pageStatus.status=='SUBMITTED'" type="button" class="btn btn-default btn-xs"
                  (click)="returnTranscript(page, document)">Message/Reassign</button>
              <button  *ngIf="(role=='LEADER'||role=='CREATOR'||role=='APPROVER')&&pageStatus.access=='ASSIGNED'&&pageStatus.status=='SUBMITTED'" type="button" class="btn btn-default btn-xs"
                (click)="approve()">Approve</button>
              <button  *ngIf="role=='LEADER'||role=='CREATOR'" type="button" class="btn btn-default btn-xs"
              (click)="commit()">Commit</button>
            <button type="button" class="btn btn-default btn-xs"
              (click)="preview()">Preview</button>
            <button *ngIf="!isText&&(role=='LEADER'||role=='CREATOR')" type="button" class="btn btn-default btn-xs"
                (click)="newText(page, document)">New text</button>
          </div>
        </div>
        <div class="col-sm-2">
          <div style="text-align: center; margin:auto" *ngIf="!isVerticalSplit">
            <span data-toggle="tooltip" title="Split screen vertically" (click)="splitVertical()" style="text-align: center; margin-top: 4px" class="split-horizontal"></span>
          </div>
          <div style="text-align: center; margin:auto" *ngIf="isVerticalSplit">
            <span data-toggle="tooltip" title="Split screen horizontallky" (click)="splitHorizontal()" style="text-align: center; margin-top: 4px" class="split-vertical"></span>
          </div>
        </div>
        <div class="col-sm-5">
          <div style="float:right; margin-top: 4px">
            <button *ngIf="isPrevPage" type="button" class="btn btn-default btn-xs"
              (click)="showPrev(page, document)"><{{prevPage}}</button>
            <span *ngIf="page">{{page.attrs.name}} in {{document.attrs.name}}</span>
            <button *ngIf="isNextPage" type="button" class="btn btn-default btn-xs"
              (click)="showNext(page, document)">{{nextPage}}></button>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>
        </div>
      </div>
    </div>
  </tc-pane>
</tc-splitter>
