<tc-splitter class="horizontal">
  <tc-pane class="image-viewer">
    <div class="image_map"></div>
  </tc-pane>
  <tc-pane class="text-viewer">
    <div class="transcript-header">
      <label>Prev: </label>
      <select (change)="prevLinkChange($event)">
        <option *ngFor="#el of links.prev; #i = index" [value]="i"
          [selected]="el===prevLink">
          {{json2xml(el)}}
        </option>
      </select>
      <label>Next: </label>
      <select (change)="nextLinkChange($event)">
        <option *ngFor="#el of links.next; #i = index" [value]="i"
          [selected]="el===nextLink">
          {{json2xml(el)}}
        </option>
      </select>
      <select (change)="revisionChange($event)">
        <option [value]="0">database revision</option>
        <option *ngFor="#revision of page.attrs.revisions; #i = index"
          [value]="i+1">
          {{revision.attrs.created}}
        </option>
      </select>
      <label>Compare With: </label>
      <select (change)="revisionCompareChange($event)">
        <option [value]="0">database revision</option>
        <option *ngFor="#revision of page.attrs.revisions; #i = index"
          [value]="i+1">
          {{revision.attrs.created}}
        </option>
      </select>
    </div>
    <tc-codemirror class="transcript" [(content)]="page.contentText">
    </tc-codemirror>
    <div class="buttons" ng-if="page">
      <button type="button" class="btn btn-default btn-xs"
        (click)="save()">save</button>
      <button type="button" class="btn btn-default btn-xs"
        (click)="commit()">commit</button>
    </div>
  </tc-pane>
</tc-splitter>



